.q-table__top,
  thead tr th {
    background-color: #00417e !important;
    color: #fff;
    font-size: 1em !important;
}

thead tr.meter-header-group {
    height: 1em;
}

thead tr.meter-header-group th {
    border: none;
    padding: 0 0 4px;
}

.meter-header-group th.meter-table-header-group-cell-grouped {
    border-bottom: solid 1px #527ea7;
}